:root {
    --grey: #474747;
    --bright-green: #66FF00;
    --bright-blue: #00B9E8;
}

body {
    background-color: var(--grey);
}

#header {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: white;
    height: 38px;
    width: 100%;
}

#banner { 
    
}

.title { 
    color: white;
    text-align: center;
    font-size: 24px;
    
    height: 24px;
}

.businessName {
    color: white;
    text-align: left;
    font-size: 32px;
}

.resourceName { 
    color: lightgrey;
    text-align: left;
    font-size: 20px;
}
