:root {
    --Grey: #564946ff;
    
}

body {
    background-color: #564946ff;
}

.title { 
    color: #49D49Dff;
    text-align: center;
    font-size: 48px;
    
    height: 24px;
}

.businessName {
    color: #49D49D;
    text-align: left;
    font-size: 32px;
}

h3.product { 
    color: white;
    text-align: left;
    font-size: 20px;
}