body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#923993, #50D8D7) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: gill sans, sans-serif;
    color: black;
    text-align: center;
}

.bridge {
    background-color: white;
    display: block;
    text-align: center;
}

@media (min-width: 1024px) {
#logo {
    width: 25vw;
    border-radius: 12.5vw;
}

h1 {
    font-size: 24vw;
}

.bridge {
    font-size: 16vw;
    border-radius: 3vw;
    padding: 3vw;
    margin: 5vw 37.5vw 5vw 37.5vw;
}

}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Ipads & Tablets */
    
    #logo {
        width: 50vw;
        border-radius: 25vw;
    }
    
    h1 {
        font-size: 18vw;
    }
    
    .bridge {
        font-size: 12vw;
        border-radius: 3vw;
        padding: 3vw;
        margin: 5vw 25vw 5vw 25vw;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    /* Phones */
    
    #logo {
        width: 50vw;
        border-radius: 25vw;
    }
    
    h1 {
        font-size: 14vw;
    }
    
    .bridge {
        font-size: 10vw;
        border-radius: 6vw;
        border: solid;
        padding: 3vw;
        margin: 5vw 25vw 5vw 25vw;
    }
}

